:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(238, 77, 45);
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;

  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
  --header-sort-bar-height: 46px;
}

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
i,
button {
  cursor: pointer;
}
/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes headerNotifygrowth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/*modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.2s;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}
.modal__body {
  --growth-from: 0.5;
  --growth-to: 1;
  height: auto;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: growth linear 0.2s;
}
/*button style */
.btn {
  min-width: 124px;
  height: 34px;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}
.btn.btn--size-s {
  height: 32px;
  font-size: 12px;
  padding: 0 8px;
}
.btn.btn--normal:hover {
  background: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary {
  color: var(--white-color);
  background: var(--primary-color);
}
.btn.btn--disabled {
  color: #949494;
  cursor: default;
  background: #c3c3c3;
}

/*Selection*/
.select-input {
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.select-input:hover .select-input__list {
  display: block;
}
.select-input__label {
  font-size: 1.4rem;
}
.select-input__label-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  top: 1px;
}
.select-input__list {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  border-radius: 2px;
  background: var(--white-color);
  padding: 8px 16px;
  display: none;
  z-index: 1;
}
.select-input__link {
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
  padding: 5px 0;
}
.select-input__link:hover {
  color: var(--primary-color);
}

/*pagination*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-item {
  margin: 0 12px;
}
.pagination-item--active .pagination-item__link {
  background: #ed5c2f;
  color: var(--white-color);
}
.pagination-item__link {
  --height: 30px;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  border-radius: 2px;
}
